
/* ==============================================- */
/* 全体 */

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  font-size: 18px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0;
}
li {
  list-style: none;
}
a{
  text-decoration:none;
  color: black;
}
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
}
.bg-primary {
  background: #12A5CF !important;
}
.row {
  padding-top: 150px;
  padding-bottom: 100px;
}
.bg-navy {
  background: #557AA2;
}
/* ヘッダー */
#header {
  background: #F2F2F2;
  height: 6rem;
  line-height: 6rem;
}
.header-container {
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
/* ヘッダーのテキスト部分 */
.header_title {
  font-family: 'Montez','san-serif';
  font-size: 44px;
  float:left;
  margin: 0 3rem;
  line-height: 6rem;
}
.header_nav {
  float: left;
}
.header_nav ul {
  overflow: hidden;
}
.header_nav ul li{
  float: left;
  margin-right: 1.5rem;
} 
.header_nav.show {
  opacity: 1;
  left: 0;
}
.header_nav.show ul li {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
}
/* ハンバーガーメニュー */
#js-nav-toggle {
  display: none;
  position: absolute;
  top: 35%;
  right: 5%;
  width: 1.75rem;
  height: 1.8rem;  
}
.nav-toggle {
  height: 100%;
  width: 100%;
  position: relative;
}
.nav-toggle span {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #333;
  position: absolute;
  transition: transform .8s, opacity .8s;
  font-weight: bold;
}
.nav-toggle span:nth-child(1) {
  top: 0;
}
.nav-toggle span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav-toggle span:nth-child(3) {
  bottom: 0;
}
#js-nav-toggle.show span {
  z-index: 3;
  background: beige;
} 
#js-nav-toggle.show span:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
#js-nav-toggle.show span:nth-child(2) {
  opacity: 0;
}
#js-nav-toggle.show span:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}
#mask {
  opacity: 0;
  transition: transform .5s, opacity .5s;
}
#mask.show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}
.container {
  width: 90%;
  margin: 0 auto;
}
#top_image {
  padding-top: 200px;
}
/* トップ画像のテキスト部分 */
.catch_copy{
  font-size: 4.5rem;
  font-weight: bold;
  transform: rotate(-10deg);
  margin-bottom: 2rem;
}
.image-text {
  padding-left: 2rem;
  width: 100%;
  height: 100%;
}
.image-text p {
  text-align:center;
}
.primary-underline {
  position: relative;
}
.primary-underline:after {
  content: '';
  position:absolute;
  left: 21%;
  bottom: -5px;
  display: inline-block;
  width: 300px;
  height: 5px;
  background-color:#fd7e00;
  border-radius: 2px;
}
a.btn_overview {
  display: block;
  width: 80%;
  margin: 2rem auto;
}
.image-btn {
  width: 100%;
  padding: 15px 10px;
  border-radius: 50px;
  font-size: 28px;
  font-weight: bold;
}
/* トップ画像の写真 */
.picture-container {
  position: relative;
}
.picture {
  width: 35%;
  height: 35%;
  position:absolute;
}
.picture1 {
  z-index:1
}
.picture2  {
  top: 30%;
  left: 30%;
  z-index: 2;
  
}
.picture3 {
  right: 5%;
  z-index: 3;
}
.picture4 {
  bottom: 10%;
  z-index: 4;
}
.picture5 {
  bottom: 10%;
  right: 0;
  z-index: 5;
}
/* サブタイトル */
.subtitle {
  color: #fd7e00;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}
/* タイトル */
.title {
  font-weight: bold;
  font-size: 56px;
}
.text-bold {
  font-weight: bold;
}
/* 新型コロナウイルスの概要 */
.top_title {
  margin-bottom: 70px;
}
.overview-container {
  padding: 0 40px;
}
.elem-title {
  font-size: 28px;
  font-weight: bold;
}
.overview-container h1 {
  min-height: 100px;
}
.overview-container p {
  min-height: 180px;
}
/* 各種症状について */
.symptom_image {
  height: 565px;
}
.symptom_image img {
  height: 100%;
}
.symptom_text {
  height: 565px;
  padding: 80px;
}
.symptom_text p {
  margin-top: 50px;
  font-size: 24px;
}
/* テーブル */
table th{
  text-align: center;
  background: linear-gradient(#829ebc,#225588);
}
/* 今後の対策 */
.measures_image {
  width: 100%;
  height: 800px;
  position: relative;
  margin-bottom: 100px;
}
.measures_image img {
  width: 100%;
  height: 100%;
}
.measures_text >h4 {
  position: absolute;
  top: 5%;
  left: 45%;
}
.measures_text >h1 {
  position: absolute;
  top: 10%;
  left: 38%
}
.measures_container {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  padding: 30px;
}
.measures_container h1{
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}
.circle1 {
  position: absolute;
  border: 10px solid #4169e1;
  top: 25%;
  left: 5%;
}
.circle1 h1{
  color: #4169e1;
}
.circle2 {
  position: absolute;
  border: 10px solid #dc3545;
  bottom: 0;
  left: 38%;
}
.circle2 h1{
 color: #dc3545;
}
.circle3 {
  position: absolute;
  border: 10px solid #28a745;
  top: 25%;
  right: 5%;
}
.circle3 h1{
  color: #28a745;
}
.mesutures_summary {
  height: 800px;
  width: 800px;
  padding: 100px;  
  margin: 0 auto 100px auto;
  border: 10px solid black;
  border-radius: 50%;
}
.mesutures_summary p {
  margin-top: 50px;
  font-size: 24px;
}
/* お問い合わせ */
.contact_title {
  margin-bottom: 50px;
}
.contact_text {
  padding-top: 50px;
  padding-right: 50px;
  width: 40%;
}
.contact_text h4{
  font-weight: bold;
  font-size: 24px;
  margin-top: 50px;
}
.contact_form p {
  margin-bottom: 10px;
}
input[type="text"],textarea,.contact_form button{
  width: 75%;
  box-shadow: 0 4px 12px 1px rgba(0,0,0,0.1),
  0 0 0 1px rgba(0,0,0,0.02);
  border-radius: 4px;
  height: 44px;
  padding: 15px;
  margin: 6px 0;
  font-size: 14px;
}
.contact_form .btn {
  height: 36px;
  border-radius: 48px;
  width: 30%;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .header_nav {
    display: block;
    position: fixed;
    z-index: 3;
    left: 0;
    background: beige;
    height: 100%;
    width: 70%;
    opacity: 0;
    transition: all .5s;
    left: -300px;
  }
  .header_nav ul li {
    margin: 0 1rem;
  }
  #js-nav-toggle {
    display: block;
  }
  .catch_copy {
    font-size: 2.5em;
  }
  .image-text p {
    font-size: 13px;
  }
  .primary-underline:after {
    width: 220px;
    left: 16%;
  }
  .image-btn {
    font-size: 20px;
  } 
}
@media (max-width: 768px) {
  .catch_copy {
    font-size: 2.2em;
  }
  .image-text p {
    font-size: 11px;
  }
  .primary-underline:after {
    width: 180px;
    left: 19%;
  }
  .image-btn {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .catch_copy {
    font-size: 1.8em;
  }
  .image-text p {
    font-size: 10px;
  }
  .image-btn {
    font-size: 14px;
  }
  .picture-container {
    min-height: 500px;
}
}