
/* ==============================================- */
/* 全体 */

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  font-size: 18px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0;
}
li {
  list-style: none;
}
a{
  text-decoration:none;
  color: black;
}
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
}
.bg-primary {
  background: #12A5CF !important;
}
.row {
  margin: 0 auto;
  width: 90%;
  padding-top: 100px;
  padding-bottom: 50px;
}
/* ヘッダー */
#header {
  background: #F2F2F2;
  height: 6rem;
  line-height: 6rem;
}
.header-container {
  overflow: hidden;
  margin: 0 auto;
}
/* ヘッダーのテキスト部分 */
.header_title {
  font-family: 'Montez','san-serif';
  font-size: 44px;
  float:left;
  margin: 0 3rem;
  line-height: 6rem;
}
.header_nav {
  float: left;
}
.header_nav ul {
  overflow: hidden;
}
.header_nav ul li{
  float: left;
  margin: 0 2rem;
} 

/* トップ画像のテキスト部分 */
.catch_copy{
  font-size: 4.5rem;
  font-weight: bold;
  transform: rotate(-10deg);
  margin-bottom: 2rem;
}
.image-text {
  padding-left: 4rem;
  width: 100%;
  height: 100%;
}
.image-text p {
  text-align:center;
}
.primary-underline {
  position: relative;
}
.primary-underline:after {
  content: '';
  position:absolute;
  left: 23%;
  bottom: -5px;
  display: inline-block;
  width: 300px;
  height: 5px;
  background-color: orange;
  border-radius: 2px;
}
.image-text button {
  margin-top: 2rem;
}
.image-btn {
  width: 80%;
  margin: 0 auto;
  display: block;
  padding: 15px 10px;
  border-radius: 50px;
  font-size: 28px;
  font-weight: bold;
}
/* トップ画像の写真 */
.picture-container {
  position: relative;
}
.picture {
  width: 35%;
  height: 35%;
  position:absolute;
}
.picture1 {
  z-index:1
}
.picture2  {
  top: 30%;
  left: 30%;
  z-index: 2;
  
}
.picture3 {
  right: 5%;
  z-index: 3;
}
.picture4 {
  bottom: 10%;
  z-index: 4;
}
.picture5 {
  bottom: 10%;
  right: 0;
  z-index: 5;
}
/* サブタイトル */
.subtitle {
  color: #54bddb;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}
/* タイトル */
.title {
  font-weight: bold;
  font-size: 56px;
}
.title-text {
  font-weight: bold;
}
/* 新型コロナウイルスの概要 */
.overview-title {
  margin-bottom: 70px;
}
.overview-container {
  padding: 0 40px;
}
.elem-title {
  font-size: 28px;
  font-weight: bold;
}
.overview-container h1 {
  min-height: 100px;
}
.overview-container p {
  min-height: 180px;
}
/* 各種症状について */